.bar-container {
  width: 100%;
  background-color: #E64A19;
}

.bar-like {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: #4CAF50;
}

.flex {
  display: flex;
}