<ion-card>
  <ion-card-content class="flex ion-align-items-center ion-justify-content-between">
    <div *ngIf="dailyMenu">
      <button (click)="nextOption(1)">Next</button>
      <div *ngFor="let meal of dailyMenu | keyvalue">
        <div *ngFor="let kind of meal.value | keyvalue" >
          <div *ngIf="(meal.key=='breakfast' && dailyMenuOption===0) || (meal.key=='lunch' && dailyMenuOption===1) || (meal.key=='dinner' && dailyMenuOption===2)">
            <div *ngFor="let food of kind.value" class="flex ion-align-items-center">
              <p>{{food.name}}</p>
              <p>{{food.likes}}</p>
              <p>{{food.dislikes}}</p>
              <div *ngIf="canVoteOption(food.name)">
                <ion-button (click)="computeVote(food.name, true)">
                  <ion-icon name="thumbs-up-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="computeVote(food.name, false)">
                  <ion-icon name="thumbs-down-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="nextOption(-1)">Prev</button>
    </div>
  </ion-card-content>
</ion-card>