.bar-container {
  width: 100%;
  background-color: #E64A19;
}

.bar-noeval {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  color: black;
  background-color: #b2bbb2;
}

.bar-like {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background-color: #4CAF50;
}

.flex {
  display: flex;
}