.flex {
  display: flex;
}

.vertical-align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.margin-left-small {
  margin-left: 0.3rem;
}

.margin-left-medium {
  margin-left: 0.6rem;
}


.margin-right-small {
  margin-right: 0.3rem;
}

.red {
  color: #E64A19;
}

.yellow {
  color: #FBC02D;
}

.green {
  color: #388E3C;
}
