<ion-card>
  <ion-card-content class="flex ion-align-items-center ion-justify-content-between">
    <div *ngIf="loadersShow.gettingStatus && loadersShow.gettingWaitTime" style="width: 25%">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </div>
    <div *ngIf="!loadersShow.gettingStatus && !loadersShow.gettingWaitTime">
      <ion-card-title>
        <div>
          <span class="margin-right-small vertical-align-middle">Queue status:</span>
          <div class="margin-right-small inline-block vertical-align-middle">
            <b [ngClass]="getStatusColor()">
              {{ queueStatus }}
            </b>
          </div>
          <div *ngFor="let icon of iconAmount" class="inline-block vertical-align-middle">
            <ion-icon name="person"
                      [ngClass]="getStatusColor()">
            </ion-icon>
          </div>
        </div>
      </ion-card-title>
      <div>
        <ion-icon name="time-outline" class="vertical-align-middle inline-block"></ion-icon>
        <ion-label class="margin-left-small inline-block vertical-align-middle">
          Estimated wait time: {{ waitTime }}
        </ion-label>
      </div>
    </div>

    <ion-button class="ion-float-right ion-align-items-center" [disabled]="loadersShow.gettingVoteRight || !voteRight" (click)="presentPopover()">
      <ion-spinner *ngIf="loadersShow.gettingVoteRight"></ion-spinner>
      <div class="flex" *ngIf="!loadersShow.gettingVoteRight">
        <ion-icon name="{{ voteButtonIcon }}"></ion-icon>
        <ion-label class="margin-left-medium">{{ voteButtonLabel }}</ion-label>
      </div>
    </ion-button>
  </ion-card-content>
</ion-card>
